{% extends 'base.html' %}

{% block content %}
<!-- <form method="post">
  <label for="title">Title</label>
  <input name="title" id="title" value="{{ request.form['title'] }}" required>
  <label for="body">Body</label>
  <textarea name="body" id="body">{{ request.form['body'] }}</textarea>
  <input type="submit" value="Save">
</form> -->
<script>
  tinymce.init({
    selector: '#blogTextArea',
    height: 500,

    plugins: [
      'advlist autolink lists link image charmap print preview anchor',
      'searchplace visualblocks code fullscreen',
      'insertdatetime media table paste imagetools wordcount'
    ],
    toolbar: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alighright alignjustify bullist numlist outdent indent | link image',
    content_style: 'body { font-family: Poppins, Helvetica, Arial, sans-serif; font-size:14px; }'

  });
</script>


<section class="page-header" style="background-image: url(../static/images/kaynak/grafik.jpg);">
  <div class="container">
    <ul class="thm-breadcrumb list-unstyled">
      <li><a href="{{ url_for('index') }}">Anasayfa</a></li>
      <li><span>Blog</span></li>
    </ul>
    <h2>Blog Ekle</h2>
  </div>
</section>
<br>
{% for message in get_flashed_messages() %}
<div class="flash alert alert-danger"> {{message}} </div>
{% endfor %}
<br><br>
<div class="jumbotron" style="width: 60%; 
margin: auto;   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
  <form action="" method="post" enctype="multipart/form-data">

    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" id="">Başlık</span>
      </div>
      <input id="title" type="text" name="title" class="form-control" value="{{ request.form['title'] }}" required>
    </div>
    <br>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">Kapak Resmi</span>
      </div>
      <div class="custom-file">
        <input type="file" name="blogPhoto" class="custom-file-input" id="inputGroupFile01" accept="image/*">
        <label class="custom-file-label" for="inputGroupFile01">Seçmek için tıkla</label>
      </div>
    </div>
    <br>


    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" id="">Kategori</span>
      </div>
      <select name="selection" style="width: 400px;;" class="form-select" aria-label="Default select example">
        <option value="Kategori seç" selected>Kategori seç</option>
        <option value="Prelayer">Prelayer</option>
        <option value="Telegram Botları">Telegram Botları</option>
        <option value="Binance Botları">Binance Botları</option>
        <option value="İndikatörler">İndikatörler</option>
      </select>
    </div>



    <br>
    <!-- <label for="title" style="padding-left: 30px; font-weight: bold;">Başlık</label> 
    <input name="title" id="title" value="{{ request.form['title'] }}" required> <br /> -->
    <!-- <label for="body" style="padding-left: 30px; font-weight: bold; font-size: 1.4rem;">Body</label> <br /> -->
    <textarea id="blogTextArea" name="body" placeholder="İçerik">
        {{ request.form['body'] }}
    </textarea>
    <br>
    <div class="input-group contact__btn" style="width: 100%;">
      <button type="submit" class="thm-btn contact-one__btn" style="width: 100%; ">Gönder</button>
    </div>
    <br>

  </form>
</div>
<br><br>

{% endblock %}