{% block brands %}

<!--Brand One Start-->
<section class="brand-one">
    <div class="container">
        <div class="brand-one__carousel owl-carousel thm__owl-carousel owl-theme"
            data-options='{"loop": true, "autoplay": true, "autoplayHoverPause": true, "autoplayTimeout": 5000, "items": 5, "dots": false, "nav": false, "margin": 140, "smartSpeed": 700, "responsive": { "0": {"items": 2, "margin": 30}, "480": {"items": 3, "margin": 30}, "991": {"items": 4, "margin": 50}, "1199": {"items": 5, "margin": 140}}}'>
            <div class="item">
                <img src="{{ url_for('static', filename='images/brand/brand-1-1.png') }}" alt="">
            </div><!-- /.item -->
            <div class="item">
                <img src="{{ url_for('static', filename='images/brand/brand-1-2.png') }}" alt="">
            </div><!-- /.item -->
            <div class="item">
                <img src="{{ url_for('static', filename='images/brand/brand-1-3.png') }}" alt="">
            </div><!-- /.item -->
            <div class="item">
                <img src="{{ url_for('static', filename='images/brand/brand-1-4.png') }}" alt="">
            </div><!-- /.item -->
            <div class="item">
                <img src="{{ url_for('static', filename='images/brand/brand-1-5.png') }}" alt="">
            </div><!-- /.item -->
            <div class="item">
                <img src="{{ url_for('static', filename='images/brand/brand-1-1.png') }}" alt="">
            </div><!-- /.item -->
            <div class="item">
                <img src="{{ url_for('static', filename='images/brand/brand-1-2.png') }}" alt="">
            </div><!-- /.item -->
            <div class="item">
                <img src="{{ url_for('static', filename='images/brand/brand-1-3.png') }}" alt="">
            </div><!-- /.item -->
            <div class="item">
                <img src="{{ url_for('static', filename='images/brand/brand-1-4.png') }}" alt="">
            </div><!-- /.item -->
            <div class="item">
                <img src="{{ url_for('static', filename='images/brand/brand-1-5.png') }}" alt="">
            </div><!-- /.item -->
        </div>
    </div>
</section>

{% endblock brands %}