{% block redlabel %}

<!-- HUGE RED LABEL -->
<section class="cta_one">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="cta_one_inner">
                    <div class="cta_one_left_text">
                        <h3>For Unlimited Access To All Services</h3>
                    </div>
                    <div class="cta_one_right_btn">
                        <a href="services.html" class="thm-btn">DISCOVER PREMIUM</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock redlabel %}