<!-- {% block profits %}

<section class="our_projects_one">
    <div class="container">
        <div class="row">
            <div class="col-xl-6">
                <div class="block-title text-left">
                    <h4>Proofs</h4>
                    <h2>Profit Proofs</h2>
                </div>
            </div>
            <div class="col-xl-6">
                <ul class="project-filter style1 post-filter has-dynamic-filters-counter list-unstyled">
                    <li data-filter=".filter-item" class="active"><span class="filter-text">All</span></li>
                    <li data-filter=".inds"><span class="filter-text">Spot</span></li>
                    <li data-filter=".fac"><span class="filter-text">Futures</span></li>
                    <li data-filter=".elec"><span class="filter-text">Token</span></li>
                    <li data-filter=".cons"><span class="filter-text last-pd-none">Pump</span></li>
                </ul>
            </div>
        </div>
        <div class="row filter-layout masonary-layout">
            <div class="col-xl-4 col-lg-4 col-md-6 filter-item inds cons elec">
                
                <div class="our_projects_one_single">
                    <div class="our_projects_one_image">
                        <img src="{{ url_for('static', filename='images/project/project-1-img-1.jpg') }}" alt="">
                        <div class="our_projects_one_icon">
                            <a href="projects-details.html"><span class="flaticon-plus"></span></a>
                        </div>
                        <div class="our_projects_one_text">
                            <h4>Spot <br> Profit</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 filter-item elec cons">
                
                <div class="our_projects_one_single">
                    <div class="our_projects_one_image">
                        <img src="{{ url_for('static', filename='images/project/project-1-img-2.jpg') }}" alt="">
                        <div class="our_projects_one_icon">
                            <a href="projects-details.html"><span class="flaticon-plus"></span></a>
                        </div>
                        <div class="our_projects_one_text">
                            <h4>Token <br> Profits</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 filter-item elec fac">
                
                <div class="our_projects_one_single">
                    <div class="our_projects_one_image">
                        <img src="{{ url_for('static', filename='images/project/project-1-img-3.jpg') }}" alt="">
                        <div class="our_projects_one_icon">
                            <a href="projects-details.html"><span class="flaticon-plus"></span></a>
                        </div>
                        <div class="our_projects_one_text">
                            <h4>Futures <br> Profit</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 filter-item inds cons">
                
                <div class="our_projects_one_single">
                    <div class="our_projects_one_image">
                        <img src="{{ url_for('static', filename='images/project/project-1-img-4.jpg') }}" alt="">
                        <div class="our_projects_one_icon">
                            <a href="projects-details.html"><span class="flaticon-plus"></span></a>
                        </div>
                        <div class="our_projects_one_text">
                            <h4>Spot <br> Profit</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 filter-item fac cons">
                
                <div class="our_projects_one_single">
                    <div class="our_projects_one_image">
                        <img src="{{ url_for('static', filename='images/project/project-1-img-5.jpg') }}" alt="">
                        <div class="our_projects_one_icon">
                            <a href="projects-details.html"><span class="flaticon-plus"></span></a>
                        </div>
                        <div class="our_projects_one_text">
                            <h4>Futures <br> Profit</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 filter-item inds elec">

                <div class="our_projects_one_single">
                    <div class="our_projects_one_image">
                        <img src="{{ url_for('static', filename='images/project/project-1-img-6.jpg') }}" alt="">
                        <div class="our_projects_one_icon">
                            <a href="projects-details.html"><span class="flaticon-plus"></span></a>
                        </div>
                        <div class="our_projects_one_text">
                            <h4>Spot <br> Profit</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock profits %} -->