<!-- {% block reviews %}
<section class="testimonails_one" style="background-image: url(../static/images/testimonials/testimonails_1-bg.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-12">
                <div class="block-title text-left">
                    <h4>Costumer Opinions</h4>
                    <h2>What Are They Talking About Us?</h2>
                </div>
                <div class="swiper-pagination" id="testimonials-one-pagination"></div>
                
            </div>
        </div>
    </div>
    <div class="thm-swiper__slider swiper-container" data-swiper-options='{"spaceBetween": 100, "slidesPerView": 4, "autoplay": { "delay": 5000 }, "pagination": {
                "el": "#testimonials-one-pagination",
                "type": "bullets",
                "clickable": true
              },"breakpoints": {
                "0": {
                    "spaceBetween": 30,
                    "slidesPerView": 1
                },
                "425": {
                    "spaceBetween": 30,
                    "slidesPerView": 1
                },
                "575": {
                    "spaceBetween": 30,
                    "slidesPerView": 2
                },
                "767": {
                    "spaceBetween": 30,
                    "slidesPerView": 2
                },
                "991": {
                    "spaceBetween": 20,
                    "slidesPerView": 2
                },
                "1289": {
                    "spaceBetween": 20,
                    "slidesPerView": 2
                },
                "1440": {
                    "spaceBetween": 20,
                    "slidesPerView": 2
                }
            }}'>
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                
                <div class="testimonails_one_single">
                    <div class="testimonails_one_quote_icon"><i class="fa fa-quote-left"></i></div>
                    <div class="testimonails_one_text">
                        <p>I was very impresed by the company service lore ipsum is simply free text
                            used by copy typing refreshing. Neque porro est qui </p>
                    </div>
                    <div class="testimonails_one_client_name">
                        <h3>Mike Hardson</h3>
                        <p>CO Founder</p>
                    </div>
                    <div class="testimonails_one_image">
                        <img src="{{ url_for('static', filename='images/testimonials/testimonails_1-img-1.jpg') }}" alt="">
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                
                <div class="testimonails_one_single">
                    <div class="testimonails_one_quote_icon"><i class="fa fa-quote-left"></i></div>
                    <div class="testimonails_one_text">
                        <p>I was very impresed by the company service lore ipsum is simply free text
                            used by copy typing refreshing. Neque porro est qui </p>
                    </div>
                    <div class="testimonails_one_client_name">
                        <h3>Jessica Brown</h3>
                        <p>CO Founder</p>
                    </div>
                    <div class="testimonails_one_image">
                        <img src="{{ url_for('static', filename='images/testimonials/testimonails_1-img-2.jpg') }}" alt="">
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                
                <div class="testimonails_one_single">
                    <div class="testimonails_one_quote_icon"><i class="fa fa-quote-left"></i></div>
                    <div class="testimonails_one_text">
                        <p>I was very impresed by the company service lore ipsum is simply free text
                            used by copy typing refreshing. Neque porro est qui </p>
                    </div>
                    <div class="testimonails_one_client_name">
                        <h3>Mike Hardson</h3>
                        <p>CO Founder</p>
                    </div>
                    <div class="testimonails_one_image">
                        <img src="{{ url_for('static', filename='images/testimonials/testimonails_1-img-1.jpg') }}" alt="">
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                
                <div class="testimonails_one_single">
                    <div class="testimonails_one_quote_icon"><i class="fa fa-quote-left"></i></div>
                    <div class="testimonails_one_text">
                        <p>I was very impresed by the company service lore ipsum is simply free text
                            used by copy typing refreshing. Neque porro est qui </p>
                    </div>
                    <div class="testimonails_one_client_name">
                        <h3>Jessica Brown</h3>
                        <p>CO Founder</p>
                    </div>
                    <div class="testimonails_one_image">
                        <img src="{{ url_for('static', filename='images/testimonials/testimonails_1-img-2.jpg') }}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock reviews %} -->