{% block welcomeone %}
<!-- Welcome One Start -->
<section id="prelayerSection" class="welcome_one">
    <div class="welcome_one_shape_bg" style="background-image: url(../static/images/resources/welcome_one_shape-bg.png)">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xl-6">
                <div class="welcome_one_left">
                    <div class="welcome_one_left_image">
                        <img src="{{ url_for('static', filename='images/kaynak/technical-analysis.jpg') }}" alt="">
                        <ul class="counter_one list-unstyled">
                            <li class="counter_one_single">
                                <h2 class="counter">150</h2>
                                <p>Crypto Channel</p>
                            </li>
                            <li class="counter_one_single">
                                <div class="counter_one_experience">
                                    <h2><span class="counter">5</span><!-- /.counter -->+</h2>
                                </div>
                                <p>Years of Experience</p>
                            </li>
                            <li class="counter_one_single">
                                <h2 class="counter">150</h2>
                                <p>Happy Customer</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="welcome_one_right_content">
                    <div class="block-title text-left">
                        <h4>ABOUT PRELAYER</h4>
                        <h2>More Than 'A' Crypto Premium Signal Channel</h2>
                    </div>
                    <div class="welcome_one_right_text_box">
                        <p class="welcome_one_right_first_text">
                            Prelayer, combines the world's largest crypto signals and technical analysis channels
                        and offers it in a cheaper package.</p>
                        <p class="welcome_one_right_second_text">Prelayer is a service that provides all 
                            of the premium crypto signal channels at once for a cheaper price.</p>
                    </div>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-check"></i>Professionally Managed Chat Group</li>
                        <li><i class="fa fa-check"></i>Special Signals From Groups of Whales</li>
                        <li><i class="fa fa-check"></i>Premium Signal Channels Connectable to Bot</li>
                        <li><i class="fa fa-check"></i>Unlimited Bitcoin and Altcoin Analyzes</li>
                    </ul>
                    <!-- <div class="welcome_one_signature_box">
                                <div class="welcome_one_signature_bg"
                                    style="background-image: url(assets/images/resources/welcome_one_signature.png)">
                                </div>
                                <h3>William Smith</h3>
                                <p>Co Founder</p>
                            </div> -->
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock welcomeone %}