<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
    <title> {{title}} - Crypto Relayer </title>
    {% else %}
    <title>Crypto Relayer</title>
    {% endif %}
    <title>{% block title %} Crypto Relayer {% endblock %}</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/resources/logo.png') }}">

    <!-- Fonts-->
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/animate.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.theme.default.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/magnific-popup.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fontawesome-all.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/swiper.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-select.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jarallax.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.mCustomScrollbar.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-datepicker.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/vegas.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nouislider.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nouislider.pips.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ziston-icon.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/flaticon.css') }}">

    <!--TEMPLATE STYLES-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">

    <script src="https://cdn.tiny.cloud/1/fl1emj0dssf7snsy7bv1mpodop3i7o2bwqd5exfyfjljppww/tinymce/5/tinymce.min.js"
        referrerpolicy="origin"></script>
</head>

<body>

    <div class="preloader">
        <img src="{{ url_for('static', filename='images/loader.png') }}" alt="">
    </div>

    <div class="page-wrapper">


        <div class="site-header__header-one-wrap clearfix">

            <div class="header_top_one">
                <div class="container">
                    <div class="header_top_one_inner clearfix">

                        <div class="header_top_one_inner_left float-left">
                            <div class="header_social_1">
                                <ul class="list-unstyled">
                                    <li><a target="_blank" href="https://twitter.com/CryptoRelayer"><i class="fab fa-twitter"></i></a></li>
                                    <!-- <li><a href="#"><i class="fab fa-facebook-square"></i></a></li> -->
                                    <li><a target="_blank" href="http://t.me/Prelayerbot"><i class="fab fa-telegram"></i></a></li>
                                    <!-- <li><a href="#"><i class="fab fa-instagram"></i></a></li> -->
                                </ul>
                            </div>
                            <div class="header_top_one_inner_left_text">
                                <p>Welcome to the Crypto Relayer World!</p>
                            </div>
                        </div>

                        <div class="header_top_one_inner_right float-right">
                            <div class="header_topmenu_1">
                                <ul class="list-unstyled">
                                    <li><a href="mailto:cryptorelayer@gmail.com"><span
                                                class="flaticon-email"></span>cryptorelayer@gmail.com</a></li>
                                    
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <header class="main-nav__header-one">
                <div class="container">
                    <nav class="header-navigation one stricky">
                        <div class="container-box clearfix">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="main-nav__left main-nav__left_one float-left">
                                <div class="logo_one">
                                    <a href="{{ url_for('index') }}" class="main-nav__logo">
                                        <img src="{{ url_for('static', filename='images/resources/logo.png') }}"
                                            class="main-logo" alt="Awesome Image">
                                        <span class="logo-span">Crypto Relayer</span>
                                    </a>
                                </div>
                                <a href="#" class="side-menu__toggler">
                                    <i class="fa fa-bars"></i>
                                </a>
                            </div>

                            <div class="main-nav__main-navigation one float-right">

                                <!-- <li class="dropdown">
                                    <a href="#">Services</a>
                                    <ul>
                                        <li><a href="services.html">Services</a></li>
                                        <li><a href="services-details.html">Services Details</a></li>
                                    </ul> /.sub-menu -->
                                </li>
                                <ul class=" main-nav__navigation-box float-left">
                                    <li id="anapage">
                                        <a href="{{ url_for('index') }}">Homepage</a>
                                    </li>
                                    <li id="hakkimizdapage">
                                        <a href="{{ url_for('about') }}">About</a>
                                    </li>
                                    <li id="hizmetlerpage">
                                        <a href="{{ url_for('services') }}">Services</a>
                                    </li>
                                    <li id="blogpage" class="dropdown">
                                        <a href="{{ url_for('blog') }}">Blog</a>
                                    </li>
                                    <li id="ssspage">
                                        <a href="{{ url_for('faq')}}">FAQ</a>
                                    </li>
                                    <li id="iletisimpage">
                                        <a href="{{ url_for('contact') }}">Contact</a>
                                    </li>
                                </ul>
                                <div class="main-nav__right main-nav__right_one float-left dropdown show">
                                    <div class="header_btn_1 dropdown btn dropdown-toggle" role="button"
                                        id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false">
                                        <a href="#">LANGUAGE</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                            <li class="dropdown-item">
                                                <a href="#" onclick="setLanguage('en')" data-reload>ENGLISH</a>
                                            </li>
                                            <li class="dropdown-item">
                                                <a href="#" onclick="setLanguage('tr')" data-reload>TÜRKÇE</a>
                                            </li>
                                            <li class="dropdown-item">
                                                <a href="#" onclick="setLanguage('es')" data-reload>SPANISH</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div><!-- /.navbar-collapse -->



                        </div>
                    </nav>
                </div>
            </header>
        </div>


        <!--burası giriş alanı-->
        {% block content %}

        {% endblock content %}

        <!--Site Footer Start-->
        <footer class="site-footer" style="background-image: url(assets/images/resources/footer-bg-img.jpg)">
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-lg-6 col-md-6">
                        <div class="footer-widget__column footer-widget__about wow fadeInUp animated"
                            data-wow-delay="100ms">
                            <div class="footer-widget__about_logo">
                                <a href="index.html"><img src="{{ url_for('static', filename='images/resources/logo.png') }}" alt="">
                                    <span class="logo-span">Crypto Relayer</span>
                                </a>
                            </div>
                            <div class="footer-widget_about_text__box">
                                <p>Crypto Relayer is a solution sequence.</p>
                            </div>
                            <ul class="list-unstyled">
                                <li>
                                    <div class="footer-widget_about_icon">
                                        <span class="flaticon-email"></span>
                                    </div>
                                    <div class="footer-widget_about_text">
                                        <a href="mailto:cryptorelayer@gmail.com">cryptorelayer@gmail.com</a>
                                    </div>
                                </li>
                                
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6">
                        <div class="footer-widget__column footer-widget__explore wow fadeInUp animated"
                            data-wow-delay="200ms">
                            <div class="footer-widget__title">
                                <h3>Discover</h3>
                            </div>
                            <ul class="footer-widget__explore_list list-unstyled">
                                <li><a href="{{ url_for('about') }}">About</a></li>
                                <li><a href="{{ url_for('services') }}">Services</a></li>
                                <li><a href="{{ url_for('contact') }}">Contact</a></li>
                                <li><a href="{{ url_for('blog') }}">Blog</a></li>
                            </ul>
                            <ul class="footer-widget__explore_list_two list-unstyled">
                                <li><a href="{{ url_for('faq') }}">FAQ</a></li>
                                <li><a href="{{ url_for('contact') }}">Privacy</a></li>
                                <li><a href="{{ url_for('contact') }}">Usage</a></li>


                            </ul>
                        </div>
                    </div>
                    
                    <div class="col-xl-3 col-lg-6 col-md-6">
                        <div class="footer-widget__column footer-widget__newsletter wow fadeInUp animated"
                            data-wow-delay="400ms"
                            style="visibility: visible; animation-delay: 400ms; animation-name: fadeInUp;">
                            <div class="footer-widget__title">
                                <h3>Mail Subscription</h3>
                            </div>
                            <div class="footer-widget__newsletter_text">
                                <p>You can start an e-mail subscription to be informed about the latest updates..</p>
                            </div>
                            <form data-url="ADD_YOUR_MAILCHIMP_FORM_URL" class="mc-form">
                                <div class="footer_input-box">
                                    <input type="email" name="EMAIL" id="mc-email" placeholder="Email Address">
                                    <button type="submit" class="button"><span
                                            class="flaticon-right-arrow"></span></button>
                                </div>
                            </form>
                            <div class="mc-form__response"></div><!-- /.mc-form__response -->
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        <!--Site Footer Bottom Start-->
        <div class="site-footer_bottom">
            <div class="container">
                <div class="site-footer_bottom_copyright">
                    <p>© Copyright 2021 by <a href="#">mfg7f</a></p>
                </div>
                <div class="site-footer__social">
                    <a target="_blank" href="https://twitter.com/CryptoRelayer"><i class="fab fa-twitter"></i></a>
                    <!-- <a href="#" class="fb-clr"><i class="fab fa-facebook-square"></i></a> -->
                    <a target="_blank" href="http://t.me/Prelayerbot" class="dr-clr"><i class="fab fa-telegram"></i></a>
                    <!-- <a href="#" class="ins-clr"><i class="fab fa-instagram"></i></a> -->
                </div>
            </div>
        </div>

    </div><!-- /.page-wrapper -->

    <a href="#" data-target="html" class="scroll-to-target scroll-to-top"><i class="fa fa-angle-up"></i></a>

    <div class="mobile-nav__wrapper">
        <div class="mobile-nav__overlay side-menu__toggler mobile-nav__toggler"></div>
        <!-- /.mobile-nav__overlay -->
        <div class="mobile-nav__content">
            <span class="mobile-nav__close side-menu__toggler mobile-nav__toggler"><i class="fa fa-times"></i></span>

            <div class="logo-box">
                <a href="{{ url_for('index') }}" aria-label="logo image"><img src="{{ url_for('static', filename='images/resources/logo.png') }}" width="101"
                        alt="" /></a>
            </div>
            <!-- /.logo-box -->
            <div class="mobile-nav__container clearfix"></div>
            <!-- /.mobile-nav__container -->

            <ul class="mobile-nav__contact list-unstyled">
                <li>
                    <i class="flaticon-email"></i>
                    <a href="mailto:cryptorelayer@gmail.com">cryptorelayer@gmail.com</a>
                </li>
            </ul><!-- /.mobile-nav__contact -->
            <div class="mobile-nav__top">
                <div class="mobile-nav__language">
                    <img src="{{ url_for('static', filename='images/resources/flag-1-1.jpg') }}" alt="">
                    <label class="sr-only" for="language-select">select language</label>
                    <!-- /#language-select.sr-only -->
                    <select class="selectpicker" id="language-select">
                        <option value="english">English</option>
                        <option value="arabic">Arabic</option>
                    </select>
                </div><!-- /.mobile-nav__language -->
                <div class="mobile-nav__social">
                    <a href="https://twitter.com/CryptoRelayer" aria-label="twitter"><i class="fab fa-twitter"></i></a>
                    <!-- <a href="#" aria-label="facebook"><i class="fab fa-facebook-square"></i></a> -->
                    <a href="http://t.me/Prelayerbot" aria-label="pinterest"><i class="fab fa-telegram"></i></a>
                    <!-- <a href="#" aria-label="instagram"><i class="fab fa-instagram"></i></a> -->
                </div><!-- /.mobile-nav__social -->
            </div><!-- /.mobile-nav__top -->



        </div>
        <!-- /.mobile-nav__content -->
    </div>

    <div class="search-popup">
        <div class="search-popup__overlay custom-cursor__overlay">
            <div class="cursor"></div>
            <div class="cursor-follower"></div>
        </div><!-- /.search-popup__overlay -->
        <div class="search-popup__inner">
            <form action="#" class="search-popup__form">
                <input type="text" name="search" placeholder="Type here to Search....">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
    </div>



    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/owl.carousel.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/waypoints.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.counterup.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/TweenMax.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/wow.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.magnific-popup.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.ajaxchimp.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/swiper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/typed-2.0.11.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vegas.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.validate.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-select.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/countdown.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.mCustomScrollbar.concat.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-datepicker.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/nouislider.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/isotope.js') }}"></script>
    <script src="{{ url_for('static', filename='js/appear.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jarallax.min.js') }}"></script>



    <!-- template scripts -->
    <script src="{{ url_for('static', filename='js/theme.js') }}"></script>



    {% block finalScript %}

    {% endblock finalScript %}

</body>

</html>