{% extends 'base.html' %}

{% block content %}

<!--Page Header Start-->
<section class="page-header" style="background-image: url(../static/images/kaynak/grafik.jpg);">
    <div class="container">
        <ul class="thm-breadcrumb list-unstyled">
            <li><a href="{{ url_for('index') }}">Homepage</a></li>
            <li><span>Services</span></li>
        </ul>
        <h2>Services</h2>
    </div>
</section>

<section class="founded_one">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12">
                <div class="founded_one_image">
                    <img src="{{ url_for('static', filename='images/kaynak/vip2.jpg') }}" alt="">
                    
                    <div class="founded_icon">
                        <span class="flaticon-eco-factory"></span>
                        <p>October <br> 2021 </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-5 col-lg-4">
                <div class="founded_one_left">
                    <div class="block-title text-left">
                        <h4>Premium Channels</h4>
                        <h2>Prelayer</h2>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4">
                <div class="founded_text">
                    <p> <span style="color: red;">Prelayer</span>, combines the world's largest 
                        crypto signal and technical analysis channels under one roof and offers it in a 
                        cheaper price. </p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4">
                <ul class="founded_list list-unstyled">
                    <li><i class="fa fa-check"></i>Spot Channels</li>
                    <li><i class="fa fa-check"></i>Futures Channels</li>
                    <li><i class="fa fa-check"></i>Market Analysis Channels</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!--History Started Start-->
<section class="history_started">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="history">
                    <div class="history_single">
                        <div class="history_image">
                            <img src="{{ url_for('static', filename='images/kaynak/webhook2.png') }}" alt="">
                            <div class="history_date">
                                <p>01.2022</p>
                            </div>
                        </div>
                        <div class="history_content">
                            <h4>Tradingview Webhook(Soon)</h4>
                            <p>Using the webhook's, you can divert all the alarms set in the Tradingview to Telegram, 
                                Discord or many other similar communication tools. 
                                This can either be used for personal use or you can even set it up on your own channels.</p>
                        </div>
                    </div>
                    <div class="history_single">
                        <div class="history_image">
                            <img src="{{ url_for('static', filename='images/kaynak/botfather2.jpg') }}" alt="">
                            <div class="history_date">
                                <p>02.2022</p>
                            </div>
                        </div>
                        <div class="history_content">
                            <h4>Telegram User Management System(Soon)</h4>
                            <p>Our advanced member management platform allows you to easily add users to your group/s, 
                                let them know their end dates with automated messages and you can remove them from the groups automatically.</p>
                        </div>
                    </div>
                    <div class="history_single">
                        <div class="history_image">
                            <img src="{{ url_for('static', filename='images/kaynak/pumpbot.jpg') }}" alt="">
                            <div class="history_date">
                                <p>04.2022</p>
                            </div>
                        </div>
                        <div class="history_content">
                            <h4>Binance Pump Bot(Soon)</h4>
                            <p>With our Binance Pump Bot you can get high revenue from pump events. 
                                The bot allows you to put trailing take profit orders as well as immediate stop loss order placement.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



{% endblock content %}
{% block finalScript %}
    <script>
        $('#hizmetlerpage').toggleClass('current');
    </script>
{% endblock finalScript %}